APP_ENV=development
APP_NAME=Document Intelligence Platform
APP_HOST=0.0.0.0
APP_PORT=8000

POSTGRES_DB=document_intelligence
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
DATABASE_URL=postgresql+psycopg://postgres:postgres@localhost:5432/document_intelligence

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_URL=redis://localhost:6379/0
CELERY_BROKER_URL=redis://localhost:6379/0
CELERY_RESULT_BACKEND=redis://localhost:6379/1

AZURE_STORAGE_ACCOUNT_NAME=devstoreaccount1
AZURE_STORAGE_ACCOUNT_KEY=Eby8vdM02xNOcqFeqCnf2qT7A6v9u0P6D1dW91v7nl3x+uO0l0w0D6qQ6XNhbbX6YsJhBKt3vnDnN/SfXlYJvA==
AZURE_BLOB_ENDPOINT=http://127.0.0.1:10000/devstoreaccount1
